<header-bar-supreme-english></header-bar-supreme-english>
<left-side-bar-english></left-side-bar-english>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Appointment Calender
            <!-- <small>Add mobile app user profile</small> -->
          </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Appointment Calender</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
            <div class="box-body">
                <div class="form-horizontal">

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="inputName" class="col-md-4 control-label">Branch</label>
                            <!-- <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Branch" autocomplete="off">
                            </div> -->
                            <div class="col-md-8" ng-if="!isBranchLoading">
                                <select class="form-control" name="branchSelect" ng-options="option.BranchName for option in branches.availableOptions track by option.Id" ng-model="branches.selectedOption" ng-change="branchChanged()">
                                </select>
                                 
                            </div>
                            <div class="col-md-8" ng-if="isBranchLoading">
                                <div ng-if="isBranchLoading" style="width: 100px; margin: auto;">
                                    <img src="assets/loader.gif" style="width: 100px; height: 100px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="inputName" class="col-md-4 control-label">Service</label>
                            <!-- <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Service" autocomplete="off">
                            </div> -->
                            <div class="col-md-8" ng-if="!isServicesLoading">
                                <select  class="form-control" name="servicesSelect" ng-options="option.Title_Eng for option in services.availableOptions track by option.Id" ng-model="services.selectedOption" >
                                </select>  
                            </div>
                            <div class="col-md-8" ng-if="isServicesLoading">
                                <div ng-if="isServicesLoading" style="width: 100px; margin: auto;">
                                    <img src="assets/loader.gif" style="width: 100px; height: 100px;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6"> 
                            <label for="" class="col-md-4 control-label">View</label>
                            
                            <div class="col-md-8">
                                <select id="activitySelector"  class="form-control" ng-model="selectedView" ng-change="changeDateAndView()">
                                    <option value="1">Day</option>
                                    <option value="7">Week</option>
                                    <option value="30">Month</option>
                                </select>  
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="inputName" class="col-md-4 control-label">Start Date</label>
                            <div class="col-md-8 input-group" style="padding:0px 15px">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="date" ng-model="startDate" class="form-control datepicker" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" autocomplete="off" datepicker-options="dateOptions" ng-change="changeDateAndView()">    
<!-- <input id="datenow" type="text" disabledates> -->

                            </div>
                        </div>
                       
                        
                        <!-- <div class="col-md-6">
                            <label for="inputName" class="col-md-4 control-label">End Date</label>
                            <div class="col-md-8 input-group" style="padding:0px 15px">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" ng-model="addPromotion.ExpiresOn" class="form-control datepicker" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" autocomplete="off">
                            </div>
                        </div> -->

                    </div>
                    <div ng-if="isDataLoading" style="width: 100px; margin: auto;">
                        <img src="assets/loader.gif" style="width: 100px; height: 100px;">
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                        </div>
                        <div ng-controller="CalendarCtrl" class="col-md-8">
                            <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="week">
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer-bar-english></footer-bar-english>
